/* :target {
  padding-top: 114px;
  margin-top: -114px;
}

@media (min-width: 768px) {
  :target {
	padding-top: 74px;
  	margin-top: -74px;
  }
} */

.fa-1x {
  font-size: 1.25em;
}

h1 {
	margin-bottom: 2rem;
	word-wrap: break-word;
	border-bottom: 4px solid #eee;
	padding-bottom: 0.5rem;
}

.detail h1 {
	border: none;
	padding-bottom: 0;
}

h2 {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 1rem;
	font-weight: normal;
}

a {
  text-decoration: none;
  color: #0092d2;
}
a:hover {
  color: #0092d2;
}

blockquote {
	font-style: italic;
	padding-left: 2rem;
	padding-right: 2rem;
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 1rem;
}

table {
	margin: 2rem 0;
}

.compas-header {
	height: 114px;
	z-index: 1053;
	background-color: #0092d2;
}

@media (min-width: 768px) {
	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-header {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 0px;
			height: 74px;
		}
	}
}

.compas-header .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.compas-header .nav-item:hover .nav-link {
  color: rgba(255, 255, 255, 0.75);
}
.compas-header .active .nav-link {
  color: #fff;
}
.compas-header .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.compas-header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.compas-sidebar {
	order: 0;
	z-index: 1000;
	background-color: #f8f9fa;
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {
	.compas-sidebar {
		border-bottom: none;
		border-right: 1px solid #eee;
	}

	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-sidebar {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 74px;
			max-height: calc(100vh - 74px);
			overflow-y: auto;
		}
	}
}

.compas-content {
	order: 1;
	padding-left: 1rem;
	padding-right: 1rem;
}

@media (min-width: 768px) {
	.compas-content {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-content {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 74px;
			max-height: calc(100vh - 74px);
			overflow-y: auto;
		}
	}
}

.compas-toc {
	order: 2;
	border-left: 1px solid #eee;
	padding-top: 1rem;
	padding-left: 0;
	padding-right: 0;
	background-color: #fefefe;
	background-color: #eee;
	background-color: #fff;
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	@supports ((position: sticky)
		       or (position: -webkit-sticky)
		       or (position: -moz-sticky)
		       or (position: -ms-sticky)
		       or (position: -o-sticky)) {
		.compas-toc {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 74px;
			max-height: calc(100vh - 74px);
			overflow-y: auto;
		}
	}
}

/* Local */

.compas-toc .nav {
	padding-left: 1rem;
	padding-right: 1rem;
}

.compas-toc .nav-item {
	list-style-type: none;
	display: block;
	width: 100%;
}

.compas-toc .nav-link {
	color: #ccc;
	padding: 0.25rem 0;
}

.compas-toc .nav-link:hover {
	color: #666;
}

.compas-toc .nav-link.active {
	color: #222;
}

/* Sidebar */

.compas-searchbox {
	padding: 1rem;
	background-color: #f8f9fa;
	border-bottom: 1px solid #eee;
	position: relative;
}

.compas-searchbox input {
	border-radius: 0.25rem;
}

.compas-navigation-toggler {
	margin-left: 1rem;
}

.compas-navigation {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.compas-navigation .nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.compas-navigation .nav-item {
	list-style-type: none;
	display: block;
	width: 100%;
}

.compas-navigation .nav-link {
	padding: 0.25rem 0.5rem;
	color: #222;
}

.compas-navigation .nav-item .nav {
	margin-bottom: 1rem;
}

.compas-navigation .nav-item .nav {
	display: none;
}

.compas-navigation .active .nav {
	display: block;
}

.compas-navigation .nav-item {
	font-size: 1rem;
}

.compas-navigation .nav-item .nav-item .nav-link {
	font-size: 0.875rem;
    color: #222;
}

.compas-navigation .nav-item .nav-item.active > .nav-link {
    color: #222;
}

.compas-navigation .nav-item .nav-item .nav-item .nav-link {
	font-size: 0.75rem;
    color: #ccc;
}

.compas-navigation .nav-item .nav-item .nav-item.active > .nav-link {
    color: #222;
}

.compas-navigation .active > .nav-link {
	font-weight: 600;
    color: #222;
}

/* Content */

.compas-content .breadcrumb {
	background-color: #fff;
	padding: 0;
}

.compas-content .section > ul {
	margin-bottom: 2rem;
}

.compas-content ul p {
	margin-bottom: 0.5rem;
}

.compas-content .metadata {
	margin-left: 4rem;
}

.compas-content .metadata ul {
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.compas-content .alert {
	margin-bottom: 2rem;
}

.compas-content .figure {
	margin-bottom: 2rem;
	padding: 0;
}

.compas-content .card {
	margin-bottom: 2rem;
}

.highlight {
	margin-top: 2rem;
	margin-bottom: 2rem;
	/* font-size: 0.8rem; */
}

.hljs {
	padding: 2rem;
}

.nohighlight pre {
	padding: 2rem;
	background-color: #eee;
}

.compas-content .anchorjs-link {
	text-decoration: none;
}

.compas-sideways {
	margin-top: 4rem;
}

.compas-next {
	float: right;
}
