@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4ED92C24-E156-46C8-BAC5-A2F7576696B7
npmScopes:=true
fortawesome:=true
npmAlwaysAuth: true=true
npmRegistryServer: "https://npm.fontawesome.com/"=true
npmAuthToken: "TOKEN"=true
